interactions:
- request:
    body: null
    headers:
      X-API-Key:
      - "YOUR OWN API KEY HERE"
    method: GET
    uri: https://api.purpleair.com/v1/sensors/157049
  response:
    body:
      string: "{\n  \"api_version\" : \"V1.0.13-0.0.55\",\n  \"time_stamp\" : 1714332991,\n
        \ \"data_time_stamp\" : 1714332961,\n  \"sensor\" : {\n    \"sensor_index\"
        : 157049,\n    \"last_modified\" : 1671736428,\n    \"date_created\" : 1658865955,\n
        \   \"last_seen\" : 1714332882,\n    \"private\" : 0,\n    \"is_owner\" :
        0,\n    \"name\" : \"AirPredict-Padova-Mortise\",\n    \"icon\" : 0,\n    \"location_type\"
        : 0,\n    \"model\" : \"PA-II\",\n    \"hardware\" : \"2.0+BME280+PMSX003-B+PMSX003-A\",\n
        \   \"led_brightness\" : 35,\n    \"firmware_version\" : \"7.02\",\n    \"rssi\"
        : -50,\n    \"uptime\" : 107,\n    \"pa_latency\" : 960,\n    \"memory\" :
        16416,\n    \"position_rating\" : 5,\n    \"latitude\" : 45.423397,\n    \"longitude\"
        : 11.915418,\n    \"altitude\" : 37,\n    \"channel_state\" : 3,\n    \"channel_flags\"
        : 0,\n    \"channel_flags_manual\" : 0,\n    \"channel_flags_auto\" : 0,\n
        \   \"confidence\" : 100,\n    \"confidence_auto\" : 100,\n    \"confidence_manual\"
        : 100,\n    \"humidity\" : 44,\n    \"humidity_a\" : 44,\n    \"temperature\"
        : 72,\n    \"temperature_a\" : 72,\n    \"pressure\" : 1018.91,\n    \"pressure_a\"
        : 1018.91,\n    \"analog_input\" : 0.01,\n    \"pm1.0\" : 12.1,\n    \"pm1.0_a\"
        : 11.6,\n    \"pm1.0_b\" : 12.6,\n    \"pm2.5\" : 18.7,\n    \"pm2.5_a\" :
        19.6,\n    \"pm2.5_b\" : 17.8,\n    \"pm2.5_alt\" : 10.2,\n    \"pm2.5_alt_a\"
        : 9.7,\n    \"pm2.5_alt_b\" : 10.8,\n    \"pm10.0\" : 20.4,\n    \"pm10.0_a\"
        : 22.4,\n    \"pm10.0_b\" : 18.4,\n    \"scattering_coefficient\" : 33.1,\n
        \   \"scattering_coefficient_a\" : 30.5,\n    \"scattering_coefficient_b\"
        : 35.7,\n    \"deciviews\" : 16.0,\n    \"deciviews_a\" : 15.4,\n    \"deciviews_b\"
        : 16.7,\n    \"visual_range\" : 78.7,\n    \"visual_range_a\" : 83.6,\n    \"visual_range_b\"
        : 73.8,\n    \"0.3_um_count\" : 2209,\n    \"0.3_um_count_a\" : 2036,\n    \"0.3_um_count_b\"
        : 2382,\n    \"0.5_um_count\" : 610,\n    \"0.5_um_count_a\" : 585,\n    \"0.5_um_count_b\"
        : 636,\n    \"1.0_um_count\" : 108,\n    \"1.0_um_count_a\" : 110,\n    \"1.0_um_count_b\"
        : 106,\n    \"2.5_um_count\" : 11,\n    \"2.5_um_count_a\" : 18,\n    \"2.5_um_count_b\"
        : 5,\n    \"5.0_um_count\" : 1,\n    \"5.0_um_count_a\" : 3,\n    \"5.0_um_count_b\"
        : 0,\n    \"10.0_um_count\" : 1,\n    \"10.0_um_count_a\" : 2,\n    \"10.0_um_count_b\"
        : 0,\n    \"pm1.0_cf_1\" : 12.1,\n    \"pm1.0_cf_1_a\" : 11.65,\n    \"pm1.0_cf_1_b\"
        : 12.57,\n    \"pm1.0_atm\" : 12.1,\n    \"pm1.0_atm_a\" : 11.65,\n    \"pm1.0_atm_b\"
        : 12.57,\n    \"pm2.5_atm\" : 18.7,\n    \"pm2.5_atm_a\" : 19.63,\n    \"pm2.5_atm_b\"
        : 17.78,\n    \"pm2.5_cf_1\" : 18.7,\n    \"pm2.5_cf_1_a\" : 19.63,\n    \"pm2.5_cf_1_b\"
        : 17.78,\n    \"pm10.0_atm\" : 20.4,\n    \"pm10.0_atm_a\" : 22.42,\n    \"pm10.0_atm_b\"
        : 18.36,\n    \"pm10.0_cf_1\" : 20.4,\n    \"pm10.0_cf_1_a\" : 22.42,\n    \"pm10.0_cf_1_b\"
        : 18.36,\n    \"primary_id_a\" : 1812808,\n    \"primary_key_a\" : \"CU16GGSP8WP340XD\",\n
        \   \"primary_id_b\" : 1812813,\n    \"primary_key_b\" : \"9LFUP3JX0VRB36UG\",\n
        \   \"secondary_id_a\" : 1812810,\n    \"secondary_key_a\" : \"V9IMAD566ZMBDJ49\",\n
        \   \"secondary_id_b\" : 1812815,\n    \"secondary_key_b\" : \"G41C2P9HUYQQTKBS\",\n
        \   \"stats\" : {\"pm2.5\" : 18.7, \"pm2.5_10minute\" : 13.6, \"pm2.5_30minute\"
        : 9.7, \"pm2.5_60minute\" : 8.0, \"pm2.5_6hour\" : 12.6, \"pm2.5_24hour\"
        : 13.6, \"pm2.5_1week\" : 18.0, \"time_stamp\" : 1714332882},\n    \"stats_a\"
        : {\"pm2.5\" : 19.6, \"pm2.5_10minute\" : 13.6, \"pm2.5_30minute\" : 9.7,
        \"pm2.5_60minute\" : 8.0, \"pm2.5_6hour\" : 12.8, \"pm2.5_24hour\" : 13.9,
        \"pm2.5_1week\" : 18.6, \"time_stamp\" : 1714332882},\n    \"stats_b\" : {\"pm2.5\"
        : 17.8, \"pm2.5_10minute\" : 13.5, \"pm2.5_30minute\" : 9.7, \"pm2.5_60minute\"
        : 8.1, \"pm2.5_6hour\" : 12.5, \"pm2.5_24hour\" : 13.2, \"pm2.5_1week\" :
        17.5, \"time_stamp\" : 1714332882}\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 23c3915d5f6bc9f8dd8e218813737e2d
    status:
      code: 200
      message: OK
[...]
